<h2>マイページ</h2>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p><%= link_to '編集', edit_user_path(@user) %></p>
<p><%= link_to "投稿一覧画面へ", blogs_path %></p>
